<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="Maintenance">
		<setting id="notify_mode" type="bool" label="Voir les stats au démarrage" default="false" />
                <setting type="lsep" label="Nettoyage automatique" />
		<setting id="startup.cache" type="bool" label="Nettoyage automatique du cache au démarrage" default="true" />
		<setting id="autoCleanDays" type="slider" label="AutoClean Cache Every Number of Days (0 is Not)" default="0" range="0,365" option="int" />
		<setting id="autoCleanHour" type="slider" label="Nettoyage automatique du cache x heure (0-12 = AM / 12-23 = PM)" default="4" range="0,23" option="int" enable="!eq(-1,0)" subsetting="true" />
                <setting type="lsep" label="Limites des dossiers de packages" />
		<setting id="filesize_alert" type="slider" label="Taille totale maximale des fichiers (Mo)" default="200" range="25,500" option="int" />
		<setting id="packagenumbers_alert" type="slider" label="Nombre maximum de fichiers Zip" default="50" range="5,200" option="int" />
		<setting type="lsep" label="Thumbnails Folder Limits" />
		<setting id="filesizethumb_alert" type="slider" label="Taille totale maximale des fichiers (Mo)" default="500" range="50,2000" option="int" />
	</category>

	<category label="Sauvegarde/Restauration">
		<setting id="BackupFixSpecialHome" type="bool" label="Remplacez le dossier de départ dans les fichiers xml par special://home" default="false" />
		<setting id="download.path" type="folder" label="Emplacement de sauvegarde" visible="True" />
		<setting id="restore.path" type="folder" label="Restaurer à partir de l'emplacement Zip (dossier)" visible="True" />
    </category>
</settings>